## Dataset from Raw Data

In [1]:
# Libaries
import warnings
warnings.filterwarnings('ignore')

import sys
import pandas as pd
import numpy as np
import math 

from itertools import product

In [2]:
# Select all
df_all = pd.read_csv("../data/raw/orders_b2c.csv")
# Select B2C
df = df_all[df_all["business_type"] == "B2C"]

In [3]:
df["business_type"].value_counts(dropna=False)

B2C    6473017
Name: business_type, dtype: int64

In [4]:
#df.isna().sum()

# To-Do

1. Create Product Grid

From here every other grid will be created.

2. Create Price Features, Quantity/Momentum features on product level.


3. Brainstorm how to create other aggregation level.

List of Datasets I need

Product
Product - Warehouse
Product - Shop
Product - State
Shop
State
Warehouse
Cluster - Product
Cluster - Shop

## 1. Create Product Grid

In [5]:
# Creaet date colum 
df["date"] = pd.to_datetime(df["order_datetime"]).dt.date
df["date"] = pd.to_datetime(df.date)

### 1. Create Basic Dataset with quantity per product for all dates

In [6]:
q_df = df.groupby(["product_variant_id", "date"]).mean().drop(
    columns=['product_category', 'brand', 'marketing_campaign']) # Drop useless columns 

q_df["quantity"] = df.groupby(["product_variant_id", "date"]).quantity.sum()

In [7]:
### SALES PRODUCT LEVEL GRID BASED FOR ALL DATES 
def create_sales_grid(df, group_by):

    # Set start and end date based on original df
    start_date = df.index.get_level_values(1).min() 
    end_date = df.index.get_level_values(1).max()

    # create list of all product ids
    product_ids = df.index.get_level_values(0).unique()

    # Create a date range base on start and end date 
    date_range = pd.date_range(start_date, end_date)

    # create cartesian product of dates and product_variant id to get full range of dates per product
    C_product = pd.DataFrame.from_records(product(product_ids,date_range), columns = group_by)
    C_product = C_product.set_index(group_by)

    # Merge with q_df, fill NaN with 0 to get real sales data
    # Before 0 sales were simply not present in the dataset
    result_df = C_product.join(q_df, on=group_by, how="left").fillna(0)
    
    # Delete 0 sales up until point of first sale 
    
    return result_df


group_by = ['product_variant_id', 'date']

# Unfiltered Sales data
product_sales = create_sales_grid(q_df, group_by)

In [8]:
# Now delete all 0 quantity data before first entry and after last entry

# create turple to Indicate first and last index of non zero entries in "quantity"
# thus, now we deleted sales data before first index
q_valid_index = product_sales.reset_index().groupby('product_variant_id')\
                                            .apply(lambda x: (x[x['quantity']>0].index[0],x[x['quantity']>0].index[-1]))

# Use boolean indexing
# 1. Create mask, same length as df that is true for all indices set in the step before 
mask = np.zeros(len(product_sales), dtype=bool)
for start, end in q_valid_index:
    mask[start:end+1] = True

product_sales = product_sales.reset_index().loc[mask]

In [9]:
product_sales.set_index(["product_variant_id", "date"], inplace = True)

In [10]:
product_sales

                                   order_id  order_item_id   customer_id  \
product_variant_id date
-9.223349e+18      2020-09-17  7.723803e+17   1.274088e+18  6.842708e+18
                   2020-09-18  0.000000e+00   0.000000e+00  0.000000e+00
                   2020-09-19  0.000000e+00   0.000000e+00  0.000000e+00
                   2020-09-20  0.000000e+00   0.000000e+00  0.000000e+00
                   2020-09-21  0.000000e+00   0.000000e+00  0.000000e+00
...                                     ...            ...           ...
 9.221977e+18      2022-12-01 -6.883326e+18  -1.420063e+18 -5.453269e+18
                   2022-12-02  0.000000e+00   0.000000e+00  0.000000e+00
                   2022-12-03  8.035536e+18  -7.622003e+18 -5.453269e+18
                   2022-12-04  0.000000e+00   0.000000e+00  0.000000e+00
                   2022-12-05 -6.858227e+18   4.993774e+18 -5.453269e+18

                               quantity  item_price  item_discount
product_variant_id date
-9.223349e+18      2020-09-17       5.0        54.9            0.0
                   2020-09-18       0.0         0.0            0.0
                   2020-09-19       0.0         0.0            0.0
                   2020-09-20       0.0         0.0            0.0
                   2020-09-21       0.0         0.0            0.0
...                                 ...         ...            ...
 9.221977e+18      2022-12-01       2.0        30.0            0.0
                   2022-12-02       0.0         0.0            0.0
                   2022-12-03       1.0        30.0            0.0
                   2022-12-04       0.0         0.0            0.0
                   2022-12-05       2.0        30.0           15.0

[4897729 rows x 6 columns]

### Add Time Features

In [11]:
##### TIME FEATURES #####
def to_time_feature(df):
    
    product_sales.reset_index(inplace=True)
    
    df["date"] = pd.to_datetime(df.date)
    # Make some features from date
    df['tm_d'] = df.date.dt.day.astype(np.int8) # Day of month
    df['tm_w'] = df.date.dt.week.astype(np.int8) # week of year
    df['tm_m'] = df.date.dt.month.astype(np.int8) # month of year
    df['tm_y'] = df.date.dt.year # year
    df['tm_y'] = (df['tm_y'] - df['tm_y'].min()).astype(np.int8) # year - min year = number of year
    df['tm_wm'] = df['tm_d'].apply(lambda x: math.ceil(x / 7)).astype(np.int8) # number of week in month

    df['tm_dw'] = df.date.dt.dayofweek.astype(np.int8)  # number of day in week
    df['tm_w_end'] = (df['tm_dw'] >= 5).astype(np.int8)  # indicate Weekend

    return df

product_sales = to_time_feature(product_sales)
#test
product_sales

,product_variant_id,date,order_id,order_item_id,customer_id,quantity,item_price,item_discount,tm_d,tm_w,tm_m,tm_y,tm_wm,tm_dw,tm_w_end
0,-9.223349e+18,2020-09-17,7.723803e+17,1.274088e+18,6.842708e+18,5.0,54.9,0.0,17,38,9,0,3,3,0
1,-9.223349e+18,2020-09-18,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,18,38,9,0,3,4,0
2,-9.223349e+18,2020-09-19,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,19,38,9,0,3,5,1
3,-9.223349e+18,2020-09-20,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,20,38,9,0,3,6,1
4,-9.223349e+18,2020-09-21,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,21,39,9,0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4897724,9.221977e+18,2022-12-01,-6.883326e+18,-1.420063e+18,-5.453269e+18,2.0,30.0,0.0,1,48,12,2,1,3,0
4897725,9.221977e+18,2022-12-02,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,2,48,12,2,1,4,0
4897726,9.221977e+18,2022-12-03,8.035536e+18,-7.622003e+18,-5.453269e+18,1.0,30.0,0.0,3,48,12,2,1,5,1
4897727,9.221977e+18,2022-12-04,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,4,48,12,2,1,6,1
4897728,9.221977e+18,2022-12-05,-6.858227e+18,4.993774e+18,-5.453269e+18,2.0,30.0,15.0,5,49,12,2,1,0,0

### Add Prices 

Add all features from original dataframe

In [25]:
prices_df.groupby(["product_variant_id"]).item_price.transform("max")

product_variant_id  date
-9.223349e+18       2020-09-17    62.60
                    2020-09-24    62.60
                    2020-10-01    62.60
                    2020-10-07    62.60
                    2020-10-08    62.60
                                  ...
 9.221977e+18       2022-11-28    31.55
                    2022-11-29    31.55
                    2022-12-01    31.55
                    2022-12-03    31.55
                    2022-12-05    31.55
Name: item_price, Length: 1032260, dtype: float64

In [ ]:
prices_df['price_nunique'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('nunique')
prices_df['item_nunique'] = prices_df.groupby(['store_id','sell_price'])['item_id'].transform('nunique')

In [37]:
# Create new df holding price info 
prices_df = df.groupby(["product_variant_id","date"])["item_price","item_discount"].mean()

# Create real sell_price
prices_df["sell_price"] = prices_df["item_price"] - prices_df["item_discount"]

# all aggregations are based on sell_price not item_price!

# Basics 
prices_df["price_max"] = prices_df.groupby(["product_variant_id"])["sell_price"].transform("max")
prices_df["price_min"] = prices_df.groupby(['product_variant_id'])['sell_price'].transform('min')
prices_df["price_std"] = prices_df.groupby(['product_variant_id'])['sell_price'].transform('std')
prices_df["price_mean"] = prices_df.groupby(['product_variant_id'])['sell_price'].transform('mean')

# Noramlisation 
prices_df["prices_norm"] = prices_df["sell_price"] / prices_df["price_max"]

# How many price changes
prices_df['price_nunique'] = prices_df.groupby(['product_variant_id'])['sell_price'].transform('nunique')

# Momentum 7 days ago 
prices_df['price_momentum_w'] = prices_df['sell_price']/prices_df.groupby(["product_variant_id"])['item_price']\
                                                                    .transform(lambda x: x.shift(7))
prices_df

                               item_price  item_discount  sell_price  \
product_variant_id date
-9.223349e+18      2020-09-17       54.90           0.00       54.90
                   2020-09-24       54.90           0.00       54.90
                   2020-10-01       54.90           0.00       54.90
                   2020-10-07       54.90           0.00       54.90
                   2020-10-08       54.90           0.00       54.90
                   2020-10-12       54.90           0.00       54.90
                   2020-10-27       54.90           0.00       54.90
                   2020-11-05       54.90           0.00       54.90
                   2020-11-10       54.90           0.00       54.90
                   2020-11-14       54.90          13.72       41.18
                   2020-11-20       54.90           0.00       54.90
                   2020-11-24       43.92           0.00       43.92
                   2020-12-03       54.90           0.00       54.90
                   2020-12-09       54.90           0.00       54.90
                   2020-12-11       54.90           0.00       54.90
                   2020-12-14       54.90           0.00       54.90
                   2020-12-16       54.90           0.00       54.90
                   2020-12-20       54.90           0.00       54.90
                   2020-12-23       54.90           0.00       54.90
                   2021-01-06       54.90           0.00       54.90

                               price_max  price_min  price_std  price_mean  \
product_variant_id date
-9.223349e+18      2020-09-17       62.4       36.6   3.852129   54.604824
                   2020-09-24       62.4       36.6   3.852129   54.604824
                   2020-10-01       62.4       36.6   3.852129   54.604824
                   2020-10-07       62.4       36.6   3.852129   54.604824
                   2020-10-08       62.4       36.6   3.852129   54.604824
                   2020-10-12       62.4       36.6   3.852129   54.604824
                   2020-10-27       62.4       36.6   3.852129   54.604824
                   2020-11-05       62.4       36.6   3.852129   54.604824
                   2020-11-10       62.4       36.6   3.852129   54.604824
                   2020-11-14       62.4       36.6   3.852129   54.604824
                   2020-11-20       62.4       36.6   3.852129   54.604824
                   2020-11-24       62.4       36.6   3.852129   54.604824
                   2020-12-03       62.4       36.6   3.852129   54.604824
                   2020-12-09       62.4       36.6   3.852129   54.604824
                   2020-12-11       62.4       36.6   3.852129   54.604824
                   2020-12-14       62.4       36.6   3.852129   54.604824
                   2020-12-16       62.4       36.6   3.852129   54.604824
                   2020-12-20       62.4       36.6   3.852129   54.604824
                   2020-12-23       62.4       36.6   3.852129   54.604824
                   2021-01-06       62.4       36.6   3.852129   54.604824

                               prices_norm  price_nunique  price_momentum_w
product_variant_id date
-9.223349e+18      2020-09-17     0.879808             12               NaN
                   2020-09-24     0.879808             12               NaN
                   2020-10-01     0.879808             12               NaN
                   2020-10-07     0.879808             12               NaN
                   2020-10-08     0.879808             12               NaN
                   2020-10-12     0.879808             12               NaN
                   2020-10-27     0.879808             12               NaN
                   2020-11-05     0.879808             12          1.000000
                   2020-11-10     0.879808             12          1.000000
                   2020-11-14     0.659936             12          0.750091
                   2020-11-20     0.879808             12          1.000000
                   2020-11-24     0.703846             12          0.800000
                   2020-12-03     0.879808             12          1.000000
                   2020-12-09     0.879808             12          1.000000
                   2020-12-11     0.879808             12          1.000000
                   2020-12-14     0.879808             12          1.000000
                   2020-12-16     0.879808             12          1.000000
                   2020-12-20     0.879808             12          1.000000
                   2020-12-23     0.879808             12          1.250000
                   2021-01-06     0.879808             12          1.000000

In [39]:
# Create discount info 

# Basics 
prices_df["discount_max"] = prices_df.groupby(["product_variant_id"])["item_discount"].transform("max")
prices_df["discount_min"] = prices_df.groupby(['product_variant_id'])['item_discount'].transform('min')
prices_df["discount_std"] = prices_df.groupby(['product_variant_id'])['item_discount'].transform('std')
prices_df["discount_mean"] = prices_df.groupby(['product_variant_id'])['item_discount'].transform('mean')

# Noramlisation 
prices_df["discount_norm"] = prices_df["item_discount"] / prices_df["discount_max"]

# How many unique discount 
prices_df['discount_nunique'] = prices_df.groupby(['product_variant_id'])['item_discount'].transform('nunique')

# discount in percentage sell_price / item_price
prices_df["discount_percent"] = 1 - (prices_df["sell_price"] / prices_df["item_price"])

# discount in 
prices_df

                               item_price  item_discount  sell_price  \
product_variant_id date
-9.223349e+18      2020-09-17        54.9            0.0        54.9
                   2020-09-24        54.9            0.0        54.9
                   2020-10-01        54.9            0.0        54.9
                   2020-10-07        54.9            0.0        54.9
                   2020-10-08        54.9            0.0        54.9
...                                   ...            ...         ...
 9.221977e+18      2022-11-28        30.0            0.0        30.0
                   2022-11-29        30.0            0.0        30.0
                   2022-12-01        30.0            0.0        30.0
                   2022-12-03        30.0            0.0        30.0
                   2022-12-05        30.0           15.0        15.0

                               price_max  price_min  price_std  price_mean  \
product_variant_id date
-9.223349e+18      2020-09-17      62.40       36.6   3.852129   54.604824
                   2020-09-24      62.40       36.6   3.852129   54.604824
                   2020-10-01      62.40       36.6   3.852129   54.604824
                   2020-10-07      62.40       36.6   3.852129   54.604824
                   2020-10-08      62.40       36.6   3.852129   54.604824
...                                  ...        ...        ...         ...
 9.221977e+18      2022-11-28      31.55       15.0   1.576938   29.752804
                   2022-11-29      31.55       15.0   1.576938   29.752804
                   2022-12-01      31.55       15.0   1.576938   29.752804
                   2022-12-03      31.55       15.0   1.576938   29.752804
                   2022-12-05      31.55       15.0   1.576938   29.752804

                               prices_norm  price_nunique  price_momentum_w  \
product_variant_id date
-9.223349e+18      2020-09-17     0.879808             12               NaN
                   2020-09-24     0.879808             12               NaN
                   2020-10-01     0.879808             12               NaN
                   2020-10-07     0.879808             12               NaN
                   2020-10-08     0.879808             12               NaN
...                                    ...            ...               ...
 9.221977e+18      2022-11-28     0.950872             30               1.0
                   2022-11-29     0.950872             30               1.0
                   2022-12-01     0.950872             30               1.0
                   2022-12-03     0.950872             30               1.0
                   2022-12-05     0.475436             30               0.5

                               discount_max  discount_min  discount_std  \
product_variant_id date
-9.223349e+18      2020-09-17         13.72           0.0      3.128014
                   2020-09-24         13.72           0.0      3.128014
                   2020-10-01         13.72           0.0      3.128014
                   2020-10-07         13.72           0.0      3.128014
                   2020-10-08         13.72           0.0      3.128014
...                                     ...           ...           ...
 9.221977e+18      2022-11-28         15.00           0.0      1.154534
                   2022-11-29         15.00           0.0      1.154534
                   2022-12-01         15.00           0.0      1.154534
                   2022-12-03         15.00           0.0      1.154534
                   2022-12-05         15.00           0.0      1.154534

                               discount_mean  discount_norm  discount_nunique  \
product_variant_id date
-9.223349e+18      2020-09-17       1.804647            0.0                 8
                   2020-09-24       1.804647            0.0                 8
                   2020-10-01       1.804647            0.0                 8
                   2020-10-07       1.804647            0.0                 8
                   2020-10-08       1.804647            0.0                 8
...                                      ...            ...               ...
 9.221977e+18      2022-11-28       0.121212            0.0                 3
                   2022-11-29       0.121212            0.0                 3
                   2022-12-01       0.121212            0.0                 3
                   2022-12-03       0.121212            0.0                 3
                   2022-12-05       0.121212            1.0                 3

                               discount_percent
product_variant_id date
-9.223349e+18      2020-09-17               0.0
                   2020-09-24               0.0
                   2020-10-01               0.0
                   2020-10-07               0.0
                   2020-10-08               0.0
...                                         ...
 9.221977e+18      2022-11-28               0.0
                   2022-11-29               0.0
                   2022-12-01               0.0
                   2022-12-03               0.0
                   2022-12-05               0.5

[1032260 rows x 17 columns]

In [27]:
prices_df = df.groupby(["product_variant_id","date"])["item_price","item_discount"].mean()
# Basics !Always on daily basis!
prices_df["price_max"] = df.groupby(['product_variant_id','date'])['item_price'].transform('max')
prices_df["price_min"] = df.groupby(['product_variant_id','date'])['item_price'].transform('min')
prices_df["price_std"] = df.groupby(['product_variant_id','date'])['item_price'].transform('std')
prices_df["price_mean"] = df.groupby(['product_variant_id','date'])['item_price'].transform('mean')

prices_df

                               item_price  item_discount  price_max  \
product_variant_id date
-9.223349e+18      2020-09-17        54.9            0.0        NaN
                   2020-09-24        54.9            0.0        NaN
                   2020-10-01        54.9            0.0        NaN
                   2020-10-07        54.9            0.0        NaN
                   2020-10-08        54.9            0.0        NaN
...                                   ...            ...        ...
 9.221977e+18      2022-11-28        30.0            0.0        NaN
                   2022-11-29        30.0            0.0        NaN
                   2022-12-01        30.0            0.0        NaN
                   2022-12-03        30.0            0.0        NaN
                   2022-12-05        30.0           15.0        NaN

                               price_min  price_std  price_mean
product_variant_id date
-9.223349e+18      2020-09-17        NaN        NaN         NaN
                   2020-09-24        NaN        NaN         NaN
                   2020-10-01        NaN        NaN         NaN
                   2020-10-07        NaN        NaN         NaN
                   2020-10-08        NaN        NaN         NaN
...                                  ...        ...         ...
 9.221977e+18      2022-11-28        NaN        NaN         NaN
                   2022-11-29        NaN        NaN         NaN
                   2022-12-01        NaN        NaN         NaN
                   2022-12-03        NaN        NaN         NaN
                   2022-12-05        NaN        NaN         NaN

[1032260 rows x 6 columns]

In [22]:
df.groupby(['product_variant_id', "date"])['item_price'].transform('nunique')

0          1.0
1          1.0
2          1.0
3          1.0
4          1.0
          ...
6520892    1.0
6520893    2.0
6520894    1.0
6520895    1.0
6520896    3.0
Name: item_price, Length: 6473017, dtype: float64

In [166]:
# Basics !Always on daily basis!
product_sales["price_max"] = df.groupby(['product_variant_id','date'])['item_price'].transform('max')
product_sales["price_min"] = df.groupby(['product_variant_id','date'])['item_price'].transform('min')
product_sales["price_std"] = df.groupby(['product_variant_id','date'])['item_price'].transform('std')
product_sales["price_mean"] = df.groupby(['product_variant_id','date'])['item_price'].transform('mean')

# and do price normalization (min/max scaling)
product_sales['price_norm'] = product_sales['item_price']/product_sales['price_max']

# Some items are can be inflation dependent
# and some items are very "stable"
product_sales['price_nunique'] = prices_df.groupby(['product_variant_id'])['item_price'].transform('nunique')
product_sales['item_nunique'] = prices_df.groupby(['product_variant_id'])['item_price'].transform('nunique')

# I would like some "rolling" aggregations
# but would like months and years as "window"
#calendar_prices = calendar_df[['wm_yr_wk','month','year']]
#calendar_prices = calendar_prices.drop_duplicates(subset=['wm_yr_wk'])
#prices_df = prices_df.merge(calendar_prices[['wm_yr_wk','month','year']], on=['wm_yr_wk'], how='left')

# test 
product_sales

,index,product_variant_id,date,order_id,order_item_id,customer_id,quantity,item_price,item_discount,tm_d,...,tm_wm,tm_dw,tm_w_end,price_max,price_min,price_std,price_mean,price_norm,price_nunique,item_nunique
0,0,-4.273781e+18,2020-03-31,0.0,0.0,0.0,0.0,0.0,0.0,31,...,5,1,0,29.95,29.95,0.0,29.95,0.0,NaN,NaN
1,1,-4.273781e+18,2020-04-01,0.0,0.0,0.0,0.0,0.0,0.0,1,...,1,2,0,29.95,29.95,0.0,29.95,0.0,NaN,NaN
2,2,-4.273781e+18,2020-04-02,0.0,0.0,0.0,0.0,0.0,0.0,2,...,1,3,0,29.95,29.95,0.0,29.95,0.0,NaN,NaN
3,3,-4.273781e+18,2020-04-03,0.0,0.0,0.0,0.0,0.0,0.0,3,...,1,4,0,32.95,32.95,0.0,32.95,0.0,NaN,NaN
4,4,-4.273781e+18,2020-04-04,0.0,0.0,0.0,0.0,0.0,0.0,4,...,1,5,1,32.95,32.95,0.0,32.95,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25361415,25361415,-8.499551e+18,2022-12-01,0.0,0.0,0.0,0.0,0.0,0.0,1,...,1,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25361416,25361416,-8.499551e+18,2022-12-02,0.0,0.0,0.0,0.0,0.0,0.0,2,...,1,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25361417,25361417,-8.499551e+18,2022-12-03,0.0,0.0,0.0,0.0,0.0,0.0,3,...,1,5,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25361418,25361418,-8.499551e+18,2022-12-04,0.0,0.0,0.0,0.0,0.0,0.0,4,...,1,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25361419,25361419,-8.499551e+18,2022-12-05,0.0,0.0,0.0,0.0,0.0,0.0,5,...,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:


prices_df = df.groupby(["product_variant_id","date"])["item_price","item_discount"].mean()

# Basic
prices_df["price_max"] = df.groupby(["product_variant_id"])["item_price"].max()
prices_df["price_min"] = df.groupby(["product_variant_id"])["item_price"].min()
prices_df["price_std"] = df.groupby(["product_variant_id"])["item_price"].std()
prices_df["price_mean"] = df.groupby(["product_variant_id"])["item_price"].mean()

prices_df.drop(columns = ["item_price", "item_discount"])
prices_df
#

                               item_price  item_discount  price_max  \
product_variant_id date
-9.223349e+18      2020-09-17        54.9            0.0        NaN
                   2020-09-24        54.9            0.0        NaN
                   2020-10-01        54.9            0.0        NaN
                   2020-10-07        54.9            0.0        NaN
                   2020-10-08        54.9            0.0        NaN
...                                   ...            ...        ...
 9.221977e+18      2022-11-28        30.0            0.0        NaN
                   2022-11-29        30.0            0.0        NaN
                   2022-12-01        30.0            0.0        NaN
                   2022-12-03        30.0            0.0        NaN
                   2022-12-05        30.0           15.0        NaN

                               price_min  price_std  price_mean
product_variant_id date
-9.223349e+18      2020-09-17        NaN        NaN         NaN
                   2020-09-24        NaN        NaN         NaN
                   2020-10-01        NaN        NaN         NaN
                   2020-10-07        NaN        NaN         NaN
                   2020-10-08        NaN        NaN         NaN
...                                  ...        ...         ...
 9.221977e+18      2022-11-28        NaN        NaN         NaN
                   2022-11-29        NaN        NaN         NaN
                   2022-12-01        NaN        NaN         NaN
                   2022-12-03        NaN        NaN         NaN
                   2022-12-05        NaN        NaN         NaN

[1032260 rows x 6 columns]

In [125]:
##### Price ######
print('Prices')

# We can do some basic aggregations
prices_df['price_max'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('max')
prices_df['price_min'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('min')
prices_df['price_std'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('std')
prices_df['price_mean'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('mean')

# and do price normalization (min/max scaling)
prices_df['price_norm'] = prices_df['sell_price']/prices_df['price_max']

# Some items are can be inflation dependent
# and some items are very "stable"
prices_df['price_nunique'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('nunique')
prices_df['item_nunique'] = prices_df.groupby(['store_id','sell_price'])['item_id'].transform('nunique')

# I would like some "rolling" aggregations
# but would like months and years as "window"
calendar_prices = calendar_df[['wm_yr_wk','month','year']]
calendar_prices = calendar_prices.drop_duplicates(subset=['wm_yr_wk'])
prices_df = prices_df.merge(calendar_prices[['wm_yr_wk','month','year']], on=['wm_yr_wk'], how='left')
del calendar_prices

# Now we can add price "momentum" (some sort of)
# Shifted by week 
# by month mean
# by year mean
prices_df['price_momentum'] = prices_df['sell_price']/prices_df.groupby(['store_id','item_id'])['sell_price'].transform(lambda x: x.shift(1))
prices_df['price_momentum_m'] = prices_df['sell_price']/prices_df.groupby(['store_id','item_id','month'])['sell_price'].transform('mean')
prices_df['price_momentum_y'] = prices_df['sell_price']/prices_df.groupby(['store_id','item_id','year'])['sell_price'].transform('mean')

ValueError: 3 columns passed, passed data had 2 columns

### Create Discount features

### Create Momentum and Lag features for quantiy

In [102]:
print(result_df.quantity.sum())
print(q_df.quantity.sum())
print(df.quantity.sum())

7492039.0
7492039
7507391

In [41]:
##### QUANTITY LAG FEATURES #####

df['lag_1'] = df['quantity'].shift(1)
data = df[['date', 'lag_1', 'quantity']]
data.head()

        date  lag_1  quantity
0 2022-07-13    NaN         1
1 2022-04-03    1.0         1
2 2021-11-21    1.0         1
3 2022-06-26    1.0         1
4 2022-03-27    1.0         1

### Add Weather Feature (Germany)